<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

 <suite name="WalmartLabs_HWAssignment Test Suite">

  <test name="Search test">

    <classes>

      <class name="com.WalmartLabs.HomeWorkAssignment.WalmartLabs_HWAssignment_Tests" />

    </classes>

  </test>

 </suite>